@mixin text-normal-1 {
  color: var(--color-text-1);
}

@mixin text-normal-2 {
  color: var(--color-text-2);
}
@mixin text-normal-3 {
  color: var(--color-text-3);
}
@mixin text-normal-4 {
  color: var(--color-text-4);
}
